/* body {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
} */

.container-prime{
  background-color:  #F4F5F9;
}

.container-hero{
  background-color: #F4F5F9;
}

.footer{
  color: #F4F5F9;
  background-color: #000000;
}